// MOBILE MENU //
.sl_mobilenav {
	@extend .title-bar; //Foundation 6 class

	&__left {
		@extend .title-bar-left; //Foundation 6 class
	}//end &__left

	&__right {
		@extend .title-bar-right; //Foundation 6 class
	}//end &__right
}//end .sl_mobilenav

.sl_accordion-menu {
	@extend .accordion-menu; //Foundation 6 class
}//end .sl_accoridon-menu

// DESKTOP MENU //
.sl_nav {
	@extend .top-bar; //Foundation 6 class

	&__left {
		@extend .top-bar-left; //Foundation 6 class
	}//end &__left

	&__right {
		@extend .top-bar-right; //Foundation 6 class
	}//end &__right
}//end .sl_nav

.sl_dropdown {
	@extend .dropdown; //Foundation 6 class
}//end .sl_dropdown

.sl_menu {
	@extend .menu; //Founrdation 6 class
}//end .sl_menu

// MEGA MENU
.sl_dropdown-pane {
	@extend .dropdown-pane; // Foundation 6 class
}//end .sl_dropdown-pane