{# Mobile Contact Duo Button #}
<div id="sl_contact-mobile" class="sl_contact-mobile hide-for-medium">
	<div class="sl_row">
	    <div class="sl_cell small-6 xsmall-6 sl_cta--verify">
	    	<a href="/insurance/#vob-holder">Verify Insurance</a>
	    </div>{# /.sl_cta--verify #}
	    <div class="sl_cell small-6 xsmall-6 sl_cta--phone ">
	        {{ function('do_shortcode', '[frn_phone ga_phone_location="Phone Clicks in Module"]')}}
	    </div>{# /.sl_cta--phone #}
	</div>{# /.sl_row #}
</div>