<div class="sl_sidebar">
	<div class="sl_sidebar__container">

		{% block content %}
		{% for item in menu %}
        	{% if item.current_item_ancestor == true %}
		    	<h3 class="sl_sidebar__title">{{ item.title }}</h3>
			{% endif %}
		{% endfor %}
		<ul class="sl_sidebar__menu">
			{% for item in menu %}
            	{% if item.current_item_ancestor == true %}
                	{% for child in item.get_children %}
                    	<li class="{{ child.classes | join(' ') }}">
				        	<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>				    
			        	</li>
                    	{% for grandchild in child.get_children %}
                        	<li class="{{ grandchild.classes | join(' ') }}">
				            	<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
			            	</li>
                    	{% endfor %}
                	{% endfor %}
            	{% endif %}
			{% endfor %}
		</ul>
		{% endblock %}

	</div><!-- end #sidebarcontent -->
</div><!-- end sticky container -->