.sl_card {
	padding: $spacing--lg;
	// width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide & {
			min-height: 200px;

			@include breakpoint (small down) {
				min-height: 175px;
			}//end small down breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide & {
			padding: 2.5rem;

			@include breakpoint (medium only) {
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_deck &
	}//end &__content

//-----------------
//TYPES
//-----------------

	&--deck, &--slide {
		padding: 0;
		height: 100%;
		background-color: get-color(accent2);
	}

	&--staff {
		padding: 0;
		background: get-color(inverse);
		color: get-color(default);
		border-radius: $border-radius;
		overflow: hidden;
		height: 100%;

		.sl_staff__image {
			width: 100%;
			height: auto;
		}//end .sl_staff__image

		.sl_card__content {
			padding: $spacing--sm;

			@include breakpoint (medium only) {
				padding: $spacing--xs;
			}//end medium only breakpoint

			p {
				margin-bottom: $spacing--xs/2;
			}//end p

			h3 {
				margin-bottom: $spacing--xs/2;

				@include breakpoint (large only) {
					font-size: 1.375rem;
				}//end large only breakpoint
			}//end h3

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end .sl_card__content
	}//end &--staff

}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
}
