{% extends "base.twig" %}

{% block content %}
	<article class="sl_404">
		<section class="sl_content__body">
			<div class="sl_inner">
		      <div class="sl_card sl_card--search">
		        <h2>Oh no! We couldn’t find the page you wanted.</h2>
		        <p>Sorry about that! We can still help you find what you’re looking for.</p>
		        <h3>Try searching for what you're looking for here...</h3>
		        {% include "partials/sl_search.twig" %}
		      </div>{# /.sl_card--search #}
		    </div>{# /.sl_inner #}
			<div class="sl_content__related">
				<div class="sl_inner">
					{% if Post(posts) is not empty %}
						<h2>Maybe you were looking for one of these:</h2>
						<div class="sl_row medium-up-2">
							{% for post in Post(posts) %}
							<div class="sl_cell">
								<a class="sl_post sl_card sl_card--results" href="{{post.link}}">
				          <h3 class="sl_post__title">{{post.title|truncate(8)}}</h3>
				          <p>{{ function('the_excerpt') }}</p>
								</a>
							</div>
							{% endfor %}
						</div>
					{% else %}
						<h2>Maybe you'll find some of these recent articles helpful:</h2>
						<div class="sl_row medium-up-2">
		                  {% for article in get_newest %}
		                  	{% if article.terms('category')|first != "Uncategorized" and article.terms('category')|first != "Press Release" %}
		                    <div class="sl_cell data-equalizer-watch">
		                      {% include 'partials/archive-article.twig' %}
		                    </div>
		                    {% endif %}
		                  {% endfor %}
		                </div>
					{% endif %}
				</div>
			</div>
		</section>
	</article>
{% endblock %}