{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}
<article class="sl_content__inner">
  <section class="sl_content__header">
    <div class="sl_inner">
      <div class="sl_card sl_card--search">
        <h2>Search results for: <strong>{{title}}</strong></h2>
        <h3>{% if posts is empty %}Sorry, there are no results that match your search. {% endif %}Try another search term...</h3>
        {% include "partials/menu/sl_search.twig" %}
      </div>
    </div>
  </section>
  <section class="sl_content__body">
    <div class="sl_inner">
      <div class="sl_row">
        <div class="sl_cell xlarge-8 large-7 sl_content__main">
          <main id="main" class="sl_main">
              {% for post in posts %}
                <a class="sl_post" href="{{post.link}}">
                  <div class="sl_card sl_card--results">
                    <h3 class="sl_post__title">{{post.title|truncate(15)}}</h3>
                    <p>{{ function('the_excerpt') }}</p>
                  </div>
                </a>

              {% else %}
                <h3>We couldn't find what you were looking for, but below is some of our most recent content.</h3>
                <div class="sl_row sl_content__loop medium-up-2">
                  {% for article in get_newest %}
                    <div class="sl_cell data-equalizer-watch">
                      {% include 'partials/archive-article.twig' %}
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}

            {% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 2, end_size: 1}) } %}

          </main>{# /.sl_main #}
        </div>{# /.sl_cell.large-8 #}
        <div class="sl_cell xlarge-4 large-5 show-for-large sl_content__sidebar">
          {% include "partials/search-sidebar.twig" %}
        </div>{#  /.sl_cell.large-4.show-for-medium #}
      </div>{# /.sl_row #}
    </div>{# /.sl_inner #}
  </section>{# /.sl_content__body #}
</article>{# /.sl_content__inner #}

{% endblock %}