/* ------------------
1. Info
2. Social
3. Menu
--------------------- */

.sl_footer {

	//1. Info
	&__info {
		background-color: get-color(default);
		padding: $spacing--lg 0;

		@include breakpoint (medium only) {
			padding: $spacing--md 0;
		}//end medium only breakpoint

		.sl_inner {
			& > .sl_row {
				align-items: center;

				.sl_cell {
					h3 {

						@include breakpoint (small down) {
							text-align: center;
						}//end small down breakpoint
					}//end h3

					p {

						@include breakpoint (small down) {
							text-align: center;
						}//end small down breakpoint

					}//end p

					& > * {
						color: get-color(inverse);
					}

					a {
						color: get-color(inverse);
					}

					//Address
					&:last-of-type {
						display: flex;
						justify-content: flex-end;
					}//end &:last-of-type

					& > :last-child { margin-bottom: 0; }
				}//end .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
	}//end &__email

	//3. Social
	&__socials {
		& > .sl_row {
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;

			@include breakpoint (medium down) {
				flex-direction: column;
				align-items: flex-start;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				align-items: center;
			}//end small down breakpoint
			
			& > .sl_cell:first-of-type {
				flex: 0 1 auto;
				width: auto;

				h3 {
					margin-bottom: 0;

					@include breakpoint (medium only) {
						margin-bottom: $spacing--xs;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						margin-bottom: $spacing--sm;
					}//end small down breakpoint
				}//end h3
			}//end & > .sl_cell:first-of-type

			& > .sl_cell:last-of-type {
				flex: 1 1 auto;
				width: auto;
				margin-left: 1.25rem;

				@include breakpoint (medium down) {
					margin: 0;
				}//end medium down breakpoint
			}//end & > .sl_cell:last-of-type
		}//end & > .sl_row

		.sl_socials {

			@include breakpoint (small down) {
				max-width: 300px;
			}//end small down breakpoint
			.sl_cell {
				width: auto;
				padding: 0 $spacing--xs/4;
				display: flex;
				align-items: center;

				@include breakpoint (small down) {
					width: 25%;
				}//end small down breakpoint
			
				&.bbb {
					@include breakpoint (small down) {
						width: 100%;
						display: flex;
						justify-content: center;
						margin-top: $spacing--sm;
					}//end small down breakpoint
				}//end &.bb
			}//end .sl_cell
		}//end .sl_socials
	}//end &__socials


	//4. Menu
	&__menu {
		padding: $spacing--xxl 0;

		@include breakpoint (large only) {
			padding: $spacing--xl 0;
		}//end large only breakpoint

		@include breakpoint (medium down) {
			padding: $spacing--md 0;
		}//end medium down breakpoint
		
		.sl_inner {

			//SOCIAL AND BILL BUTTON
			& > .sl_row {
				margin-bottom: $spacing--xxl;
				align-items: center;
				justify-content: space-between;

				@include breakpoint (small down) {
					margin-bottom: $spacing--md;
				}//end small down breakpoint

				& > .sl_cell {
					
					&:first-of-type {
						@include breakpoint (small down) {
							order: 2;
						}//end small down breakpoint
					}
					//BILL BUTTON
					&:last-of-type {
						display: flex;
						justify-content: flex-end;

						@include breakpoint (small down) {
							order: 1;
							justify-content: center;
							margin-bottom: $spacing--md;
						}//end small down breakpoint

						.sl_button {
							margin-bottom: 0;
						}//end .sl_button
					}//end &:last-of-type
				}//end .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
		

		.sl_menu {
			justify-content: flex-start;
			margin-bottom: $spacing--lg;

			& * {
				color: get-color(default);
			}//end & > *

			ul {
				list-style: none;
				margin: 0;
			}//end ul

			& > li {
				font-weight: $font-weight--bold;
				flex: 0 0 20%;
				margin-bottom: $spacing--sm;
				font-size: 1rem;

				@include breakpoint (medium only) {
					flex: 0 0 25%;
					max-width: 25%;
				}//end medium only breakpoint

				.sl_submenu {
					padding-top: $spacing--xs;
					& > li {
						font-weight: $font-weight--regular;
						margin-bottom: $spacing--xs/2;
						font-size: rem-calc(15px);

						a {
							line-height: 1.25;
						}
					}//end & > li
				}//end .sl_submenu
			}//end & > li

			a {
				padding: 0;
			}//end a
		}//end .sl_menu
	}//end &__menu

	.frn_footer {
		p {
			text-align: center;

			@include breakpoint (small down) {
				text-align: center;
			}//end small down breakpoint

			a {
				color: get-color(default);
				text-decoration: underline;
			}//end a
		}//end p
	}//end .frn_footer

}//end .sl_footer