{% if menu %}
	<ul class="sl_dropdown sl_menu" data-dropdown-menu>

		{# First Level Menu Item #}
		{% for item in menu %}
			<li class="{{ item.classes | join(' ') }}" {% if item.has_child_class %}data-toggle="sl_mega--{{ item.title }}"{% endif %}>
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				
				{# Mega Menu #}			    
				{% if item.has_child_class %}
				<div id="sl_mega--{{ item.title }}" class="sl_dropdown-pane sl_megamenu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true;">

					<ul class="sl_menu sl_row medium-up-4">
			    		{% for child in item.get_children %}
			        		<li class="sl_cell {{ child.classes | join(' ') }}">
				        		<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>
				        		<p>{{child.description}}</p>

				        		{# Third Level Menu #}	    
					        	{% if child.has_child_class %}		
								<ul class="sl_menu">
					        		{% for grandchild in child.get_children %}
					            		<li class="{{ grandchild.classes | join(' ') }}">
						            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
					            		</li>
					        		{% endfor %}
								</ul>{# /.sl_menu #}
								{% endif %}
								{# End Third Level Menu#}

							</li>
			    		{% endfor %}
					</ul>{# /.sl_menu #}

				</div>{# /.sl_megamenu#}
				{% endif %}
				{# End Mega Menu#}	
			
			</li>
		{% endfor %}
	</ul>{# /.sl_dropdown.sl_menu #}
{% endif %}

