{% set entryInfo = {
    "facilityName": post.facility_name,
    "facilityType": post.terms('location-category')|first.name,
    "facilityImage": Image(post.image_field).src,
    "facilityContent": post.facility_features,
    "facilitySite": post.website_url,
    "facilityPage": post.slug,
    "facilityLat": post.facility_lat,
    "facilityLng": post.facility_lng,
    "facilityAddress": post.street_address,
    "facilityCity": post.city,
    "facilityState": post.state,
    "facilityZip": post.zip_code,
    "facilityDirections": post.direction_url,
    "facilityTour": post.virtual_tour,
    "facilityAccreditation":  post.accreditations,
    }
%}

{#If map has multiple markers, then run a for loop #}
{% if map.add_markers == true %}

    <div class="sl_module__map">
    {% for marker in map.marker %}
        <div class="marker" data-lat="{{ marker.google_map.lat }}" data-lng="{{ marker.google_map.lng }}">
            <div class="sl_card sl_card--map">
                <div class="sl_row">
                    <div class="sl_cell sl_card__image" style="background-image:url({{entryInfo.facilityImage}})"></div>
                    <div class="sl_cell sl_card__content"><span class="sl_facility__type"> {{entryInfo.facilityType}}</span>
                        <h5>{{entryInfo.facilityCity}}, {{entryInfo.facilityState}}</h5>
                        <h3>{{entryInfo.facilityName}}</h3>
                        <a href="{{entryInfo.facilityDirections}}" class="sl_button sl_button--secondary">Get Directions</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% else %}

    <div class="sl_module__map">
        <div class="marker" data-lat="{{map.google_map.lat}}" data-lng="{{map.google_map.lng}}">
            <div class="sl_card sl_card--map">
                <div class="sl_row">
                    <div class="sl_cell sl_card__image" style="background-image:url({{entryInfo.facilityImage}})"></div>
                    <div class="sl_cell sl_card__content"><span class="sl_facility__type"> {{entryInfo.facilityType}}</span>
                        <h5>{{entryInfo.facilityCity}}, {{entryInfo.facilityState}}</h5>
                        <h3>{{entryInfo.facilityName}}</h3>
                        <a href="{{entryInfo.facilityDirections}}" class="sl_button sl_button--secondary">Get Directions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}