.sl_carousel {

	.slick-track {
		display: flex;
	}//end .slick-track

	.sl_card--slide {
		display: flex;
        flex-direction: column;
        height: auto;
        margin: $spacing--xl $spacing--sm/2 $spacing--xxl;

		@include breakpoint (large only) {
			margin: $spacing--lg $spacing--sm/2 $spacing--xl; 
		}//end large only breakpoint

		@include breakpoint (medium only) {
			margin: $spacing--lg $spacing--xs/2 $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			margin: $spacing--lg $spacing--sm $spacing--lg;
		}//end small down breakpoint
	}//end .sl_card--slide

	&--duo {

		.slick-slide {
			display: flex !important;
		}

		&__media {
			@include breakpoint (small down) {
			position: relative;
			min-height: 300px;
			}//end small down breakpoint

			&__container {
				position: relative;
				width: 100%;
				height: 100%;
				min-height: 300px;

				@include breakpoint (small down) {
					min-height: 250px;
				}//end small down breakpoint
			}//end &__container
		}//end &__media

		&__image {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}//end &__image

		&__content {
			display: flex;
			align-items: center;

			@include breakpoint (small down) {
				flex: 0 0 auto;
				width: 100%;
			}//end small down breakpoint

			.sl_button-group {
				width: 100%;

				.sl_button {
					width: 100%;
					-ms-flex-negative: 1;
				}//end .sl_button
			}//end .sl_button-group
		}//end &__content
	}//&--duo
}//end .sl_carousel
