.sl_deck {
	.sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md, $p-large: $spacing--lg - $spacing--md/2, $p-xlarge: $spacing--xl - $spacing--md/2,$p-xxlarge: $spacing--xxl - $spacing--md/2);
		& > h2 {
			text-align: center;
		}

		.sl_cell {
			padding: 0 $spacing--md/2;
		}
	}
}//end .sl_deck